*{
    padding: 0;
    margin: 0;
}
form{
    border: solid 2px yellow;
margin-top: 50px;
margin-bottom: 5px;
padding-top: 40px;
margin-left: 100px;
margin-right: 100px;
border-radius: 30px;
color: yellow;
}
img{
border-radius: 30px;

}
a{
    padding-left: 10em;
    
}
body{
    background-size: cover;
}